.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
src/**
webview/**
test/**
out/**
node_modules/**
!node_modules/@duckdb/**
**/*.ts
**/*.map
.gitignore
.prettierrc.json
.mocharc.json
eslint.config.mjs
esbuild.mjs
tsconfig*.json
**/.DS_Store
